# Data files
data/*.csv
data/*.xlsx
data/*.duckdb
*.duckdb
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Model artifacts
artifacts/*.joblib

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Prefect
.prefect/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
